<template>
  <div class="row py-4">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
      <div class="row justify-content-md-center ml-10 text-white p-0">
        <div class="col-md-5 mt-5">
          <div class="card mx-auto navside opacity mt-6 shadow-lg p-3 mb-5 rounded">
            <router-link class="police" to="/forum">
              <img
                class="card-img-top"
                src="./../../../../public/img/logo.png"
                alt="Card image cap"
              />
              <div class="card-body text-center police">
                <h5 class="card-title police">FORUM</h5>
              </div>
            </router-link>
          </div>
        </div>

        <div class="col-md-5 mt-5">
          <div class="card mx-auto navside opacity mt-6 shadow-lg p-3 mb-5 rounded">
            <router-link class="police" to="/outils">
              <img
                class="card-img-top"
                src="./../../../../public/img/logo.png"
                alt="Card image cap"
              />
              <div class="card-body text-center police">
                <h5 class="card-title police">OUTILS</h5>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
