/*
	CARD BLEU CLAIR
*/
.card-bgc-light {
	background-color: #418fb7;
}
/*
	CARD BLEU FONCE
*/
.card-bgc-dark {
	background-color: #28333A;
}

.card-bgc-dark-opcacity {
	background-color: #28333A;
	opacity: 0.8;
}	

.text-white {
	color: #fff;
}
/*
	BODY AVEC BACKGROUND IMAGE POUR LE MENU
*/

.body-back-img{
	background-color: #30424c;

}

body {
	color: #fff;
	background-color: #fff;
	background-image: url(../img/back2.jpg);
	/*background-repeat: no-repeat;*/
	background-position: auto, center center;
	background-attachment: fixed, fixed;
	background-size: auto, cover;
	float:center;
	background-repeat: repeat, no-repeat;	
}


.fond {
	color: #fff;
	background-color: #fff;
	background-image: url(../img/back2.jpg);
	/*background-repeat: no-repeat;*/
	background-position: auto, center center;
	background-attachment: fixed, fixed;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
}

.card-tool-titre {
	background-color :#00000000;
	border-color : #ad4548;
	border-width : 2px;
	color :#ad4548;
}

.card-bgc-toolcontainer {
	background-color :#00000000;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
}

.police {
	color: #ededed;
	
}

.police:hover {
	color: #ad4548;
}

.imgblasonHome {
	max-width: 60%;
	height: auto;
}

.navside {
	background-color: #3F5764;
}

.navbar {
	background-color: #3F5764;
}

body {
	min-height: 100vh;
}

.app {
	height: 100vh;
}

.imgblason {
	position: absolute;
	max-width: 9%;
	height: auto;
	top: 2%;
	left: 3%
} 

.warframe {
	position: absolute;
	max-width: 12%;
	height: auto;
	top: 1%;
	left: 45%
}

html {
	overflow-X:hidden
}

.mart {
	margin-top: 70px
}

.imgSidebar{
	width: 75%;
}


.sizeScreen {
	height: 100vh;
}

@media only screen and (max-width:1090px) {
	.sizeScreen {
		height: 50vh;
	}
	.imgSidebar{
		width: 50%;
	}
}

.borderSpe{
	border-top: solid 1px #d3a350;
	border-bottom: solid 1px #d3a350;
}

.time{
	color: #d3a350;
}

.containerContainer{
	width: 500px;
}
.carte{
font-size: 11px;
width: 200px;
}
.progress-container {
color: black
}

#progress {
	height: 100%;
	width: 0%;
	background-color: green
}

.opacity{
	opacity: 0.75;
}

.opacity:hover{
	opacity: 1;
}

.categ-header{
	color: #d3a350;
}

.thread-header{
	color: #d3a350;
}
.thread-header:hover{
	color: #ad4548;
}

.thread-background{
	background-color: #526773;
}

.thread-border{
	border: solid 1px #bcc7cc;
}

.btn-addThread{
	background-color: #323232 ;
	border: none;
	color : white;
}
.btn-addThread:hover{
	background-color: #ad4548;
	color : white;
}

.border-outils{
	border-color: #d3a350 ;
}

.img-fissure{
	width: 30%;
}