<template>
  <!-- Modal forgot password -->
  <div
    id="forgotpassword"
    tabindex="-1"
    role="dialog"
    aria-labelledby="forgotpasswordLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title" id="forgotpasswordLabel">Inscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="col align-self-center form-group">
              <div class="row mb-3">
                <div class="col">
                  <input
                    type="text"
                    id="username"
                    class="form-control"
                    name="username"
                    placeholder="Prénom"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>