<template>
  <!-- Modal Login -->
  <div
    id="loginModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Connexion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="login">
            <div class="col align-self-center form-group">
              <div class="row">
                <div class="col-sm-6">
                  <input
                    type="email"
                    id="emaim"
                    class="form-control"
                    name="email"
                    v-model="user.email"
                    placeholder="Identifiant"
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    v-model="user.password"
                    placeholder="Mot de passe"
                  />
                </div>
              </div>

              <div class="modal-footer mt-3">
                <div id="formFooter" hidden="true">
                  <a
                    class="underlineHover"
                    data-toggle="modal"
                    data-backdrop="false"
                    data-target="#forgotpassword"
                    href="#"
                  >Forgot Password?</a>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Se connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: "",
        password: ""
      }
    };
  },

  created() {},
  mounted() {},
  methods: {
    /**Log in the user using the email and the password in the form */
    login() {
      axios
        .post("/api/login", this.user) // Ask for authentification to the API
        .then(response => {
          // Store the token in the local storage
          auth.login(response.data.token);
          window.localStorage.user = JSON.stringify(response.data.user);

          // Redirection to the home
          window.location.href = "/";
        })
        .catch(response => {
          this.loading = false;
        });
    }
  }
};
</script>

<style>
</style>