<template>
  <!-- Modal inscription -->
  <div
    id="loginInscription"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginInscriptionLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title" id="loginInscriptionLabel">Inscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="col align-self-center form-group">
              <div class="row mb-3">
                <div class="col-sm-6">
                  <input
                    type="text"
                    id="nickname"
                    v-model="user.nickname"
                    class="form-control"
                    name="nickname"
                    placeholder="Surnom"
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    id="username"
                    v-model="user.username"
                    class="form-control"
                    name="username"
                    placeholder="Prénom"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input
                    type="email"
                    id="email"
                    v-model="user.email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <input
                    type="password"
                    id="password"
                    v-model="user.password"
                    class="form-control"
                    name="password"
                    placeholder="Mot de passe"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input
                    type="password"
                    id="password_confirmation"
                    v-model="user.password_confirmation"
                    class="form-control"
                    name="password_confirmation"
                    placeholder="Confirmation du mot de passe"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" v-on:click="register();">s'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: "",
        username: "",
        nickname: "",
        password: "",
        password_confirmation: ""
      }
    };
  },
  methods: {
    /**Ask to register a user using the API
     * the added user will be connected*/
    register() {
      this.loading = true;
      this.error = false;
      // Ask for registration to the API
      axios.post("/api/register", this.user).then(response => {
        this.loading = false;
        // Store the returned token by the API
        auth.login(response.data);
        window.localStorage.user = JSON.stringify(response.data.user)
        // Redirection to the home page
        window.location.href = "/";
      });
    }
  }
};
</script>

<style>
</style>