<template>
  <div class="mt-5 card-bgc-dark">
    <!-- COL 1 START   {{array[1].id}}-->

    <div class="card mx-auto card-bgc-dark shadow-lg rounded">
      <div class="card-header">
        <h3 class="card-title text-center ml-5 mr-5 card-tool-titre">Conclave challenges</h3>
      </div>
      <div class="card-body">
        <div class="row" v-for="(item,key) in array" :key="key">
          <div class="card card-bgc-dark border-outils shadow-lg mb-2 col">
            <div class="card-body">
              <div class="mb-3">
                <h5>Expiration : {{ item.expiry.substring(0,10)|formatDate }}</h5>
              </div>
              <div class="mb-3">
                <h5>{{item.description}}</h5>
              </div>
              <div class="mb-3">
                <h5>{{myMethod(key)}}</h5>
              </div>
              <div class="progress mt-3">
                <div
                  class="progress-bar progress-container"
                  role="progressbar"
                  :style="{width: item.eta + '%', color: '#fffff' }"
                  aria-valuenow="10"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >{{item.eta}}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- COL 1 END-->
</template>

<script>
import arrayZ from "./../../../../../public/test/conclaveChallenges.json";
import moment from "moment";

export default {
  data() {
    return {
      array: [],
      polling: null,
      percent: null,
      start: null
    };
  },
  mounted() {
    this.array = arrayZ;
  },
  functions: {},

  methods: {
    myMethod: function(key) {
      this.polling = setInterval(() => {
        var end = moment(this.array[key].expiry, "");
        var now = moment(new Date(), "");
        this.start = moment(this.array[key].activation, "");
        this.array[key].eta = Number(
          ((now - this.start) / (end - this.start)) * 100
        ).toFixed(1);
        if (this.array[key].eta == 100) {
          this.refreshData();
        }
      }, 1000);
    }
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  filters: {
    formatDate(date) {
      return moment(date).format("DD/MM/Y");
    }
  }
};
</script>

<style>
</style>