<template>
  <div class="mt-5">
    <!-- COL 1 START   {{array[1].id}}-->

    <div class="card card-bgc-toolcontainer mx-auto mt-5 shadow-lg p-3 mb-5 rounded">
      <h5 class="card-title card-tool-titre">Void Fissures</h5>
      <div class="card-body mx-auto">
        <div class="row" v-for="(item,key) in array" :key="key">
          <div class="card card-bgc-dark col-md-5 shadow-lg p-3 mb-5 rounded">
            <div class="card-body mx-auto">
              <p>
                {{item.node}}
                {{item.enemy}}
                {{item.eta}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- COL 1 END-->
  </div>
</template>

<script>
import arrayZ from "./../../../../../public/test/fissures.json";

export default {
  data() {
    return {
      array: []
    };
  },
  mounted() {
    this.array = arrayZ;
  }
};
</script>

<style>
</style>