<template>
  <div class="mt-5 card-bgc-dark">
    <!-- COL 1 START   {{array[1].id}}-->

    <div class="card card-bgc-dark shadow-lg rounded">
      <div class="card-header">
        <h3 class="card-title text-center card-tool-titre">Void Fissures</h3>
      </div>
      <div class="card-body">
        <div class="row" v-for="(item,key) in array" :key="key">
          <div class="p-0 card card-bgc-dark border-outils shadow-lg mb-2 col">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5>{{item.node}}</h5>
                </div>

                <img class="img-fissure" :src="item.startString" />
              </div>
              <div class="mb-3">
                <h5>{{item.missionType}} ({{item.tier}})</h5>
              </div>
              <div class="mb-3">
                <h5>{{item.enemy}}</h5>
              </div>
              <div class="mb-3">
                <h5>{{item.expiry}}</h5>

                <h5>{{myMethod(key)}}</h5>
              </div>

              <div class="progress mt-3">
                <div
                  id="myProgress"
                  class="progress-bar progress-container"
                  role="progressbar"
                  :style="{width: item.eta + '%' , 'background-color':getColor(item.eta) }"
                  :background-color="getColor(item.eta)"
                  aria-valuenow="10"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >{{item.eta}}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- COL 1 END-->
  </div>
</template>

<script>
import moment from "moment";
import arrayZ from "./../../../../../public/test/fissures.json";

export default {
  data() {
    return {
      array: [],
      polling: null,
      percent: null,
      start: null,
      processing: false,
      end: null,
      selected: "",
      platform: "PC"
    };
  },
  mounted() {
    this.array = arrayZ;
  },
  methods: {
    myMethod: function(key) {
      this.polling = setInterval(() => {
        if (typeof this.array[key] == "undefined") {
          return "";
        }
        var now = moment(new Date(), "");
        this.array[key].eta = Number(
          ((now - moment(this.array[key].activation, "")) /
            (this.array[key].expiry - moment(this.array[key].activation, ""))) *
            100
        ).toFixed(1);
        this.array[key].expiry = moment(this.array[key].expiry, "");
        this.array[key].startString = this.resolve_img_url(
          this.array[key].tier
        );
        if (this.array[key].eta >= 100) {
          this.array[key].eta = 100;
          if (this.processing == false) {
            this.processing = true;
            this.refreshData();
          }
        }
      }, 1000);
    },
    sleep: function(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    getColor: async function(item) {
      var bar = document.getElementById("PLATFORM");
      if ((bar != null) & (bar.options != null)) {
        if (bar.options[bar.selectedIndex].value != this.platform) {
          this.platform = bar.options[bar.selectedIndex].value;
          this.refreshData();
          await this.sleep(5000);
        }
      }
      if (item > 80) {
        return "red";
      } else if (item < 80) {
        return "#007bff";
      }
      return "";
    },

    refreshData: async function() {},
    resolve_img_url: function(item) {
      switch (item) {
        case "Meso":
          return "https://vignette.wikia.nocookie.net/warframe/images/1/12/VoidProjectionsBronzeD.png/revision/latest?cb=20160711164431&path-prefix=fr";
          break;
        case "Lith":
          return "https://vignette.wikia.nocookie.net/warframe/images/a/ae/VoidProjectionsIronD.png/revision/latest?cb=20160711164451&path-prefix=fr";
          break;
        case "Neo":
          return "https://vignette.wikia.nocookie.net/warframe/images/c/c5/VoidProjectionsSilverD.png/revision/latest?cb=20160711164523&path-prefix=fr";
          break;
        case "Axi":
          return "https://vignette.wikia.nocookie.net/warframe/images/0/0e/VoidProjectionsGoldD.png/revision/latest?cb=20160711164509&path-prefix=fr";
          break;
      }
      return "./../../../../../public/images/" + item + ".png";
    },
    hide: function() {
      clearInterval(this.polling);
    }
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {}
};
</script>

<style>
</style>>

