<template>
  <div class="mt-5 card-bgc-dark">
    <!-- COL 1 START   {{array[1].id}}-->

    <div class="card mx-auto card-bgc-dark shadow-lg rounded">
      <div class="card-header">
        <h3 class="card-title text-center ml-5 mr-5 card-tool-titre">Evenement : Sortie</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="card card-bgc-dark border-outils shadow-lg mb-2 col">
            <div class="card-body">
              <div class="mb-3">
                <h5>{{array.boss}}</h5>
              </div>
              <div class="mb-3">
                <h5>{{array.node}}</h5>
              </div>
              <div class="mb-3">
                <h5>{{heure}}</h5>
              </div>
              <div class="progress mt-3">
                <div
                  class="progress-bar progress-bar progress-container"
                  role="progressbar"
                  :style="{width: percent + '%' }"
                  aria-valuenow="10"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >{{percent}}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- COL 1 END-->
  </div>
</template>

<script>
import moment from "moment";
import arrayZ from "./../../../../../public/test/sortie.json";
export default {
  data() {
    return {
      array: null,
      polling: null,
      heure: null,
      percent: null,
      start: null,
      end: null
    };
  },
  mounted() {
    this.array = arrayZ;
  },
  methods: {
    pollData() {
      this.polling = setInterval(() => {
        if (typeof this.array == null) {
          return "";
        }
        var end = moment(this.array.expiry, "");
        var now = moment(new Date(), "");
        this.start = moment(this.array.activation, "");
        this.heure = moment.utc(end.diff(now)).format("HH:mm:ss");
        this.percent = Number(
          ((now - this.start) / (end - this.start)) * 100
        ).toFixed(1);
      }, 1000);
    }
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {
    this.pollData();
  }
};
</script>

<style>
</style>