<template>
    <div class="row">
        <div class="p-0 col-lg-4 col-xl col-md col-md col-sm">
            <div class="row ml-5 mr-5 justify-content-center text-white p-0">
                <containerTimerFissures class=""></containerTimerFissures>
            </div>
        </div>
        <div class="p-0 col-lg-4 col-xl col-md col-md col-sm">
            <div class="row justify-content-center text-white p-0">
                <containerTimerSortie class=""></containerTimerSortie>
            </div>
        </div>
        <div class="p-0 col-lg-4 col-xl col-md col-md col-sm">
            <div class="row justify-content-center text-white p-0">
                <containerTimerChallenges class=""></containerTimerChallenges>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
</style>