<template>
  <div class="main-navbar sticky-top bg-white">
    <nav class="navbar">
      <div class="row">
        <div class="col">
          <span class="col p-0">Cetus</span>
          <span class="col p-0">{{timer}}</span>
        </div>
      </div>
      <div class="text-center">
        <img class="w-25" src="./../../../../public/img/warframeLogo.png" />
      </div>
      <div class="row m-2">
        <div class="col" hidden="true">
          <select class="form-control">
            <option value="FR">FR</option>
            <option value="EN">EN</option>
          </select>
        </div>
        <div class="col">
          <select id="PLATFORM" class="form-control">
            <option id="PC" value="PC">PC</option>
            <option id="PS4" value="PS4">PS4</option>
            <option id="XB1" value="XB1">XBOX</option>
          </select>
        </div>
      </div>
      <div class="mr-3">
        <!-- This button is active when no user is connected -->
        <button
          class="btn btn-dark police"
          data-toggle="modal"
          data-backdrop="false"
          data-target="#loginModal"
          v-show="!checkLogin()"
        >
          <i class="fas"></i>
          Connexion
        </button>

        <!-- This button is active when no user is connected -->
        <button
          class="btn btn-dark police"
          data-toggle="modal"
          data-backdrop="false"
          data-target="#loginInscription"
          v-show="!checkLogin()"
        >
          <i class="fas"></i>
          Inscription
        </button>

        <!-- This button is active when a user is connected -->
        <button class="btn btn-dark police" v-on:click="logout()" v-show="checkLogin()">
          <i class="fas"></i>
          Deconexion
        </button>
      </div>
    </nav>
    <Login class="modal fond fade bd-example-modal-lg"></Login>
    <Register class="modal fond fade bd-example-modal-lg"></Register>
  </div>
</template>

<script>
import Login from "../pages/auth/login";
import ForgotPassword from "../pages/auth/forgotPassword";
import Register from "../pages/auth/register";
export default {
  components: {
    Login,
    ForgotPassword,
    Register
  },
  data() {
    return {
      timer: null
    };
  },

  methods: {
    /**Logout the connected user */
    logout() {
      axios.post("/api/logout").then(response => {
        auth.logout();

        window.location.href = "/";
      });
    },
    /**Check if a user is connected */
    checkLogin() {
      return auth.check();
    }
  },

  mounted() {
    // Get the cetus cylcle statut from the api
    axios
      .get(
        "https://cors-anywhere.herokuapp.com/https://api.warframestat.us/pc/cetusCycle",
        {
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "POST, GET, PUT, OPTIONS, DELETE",
            "Access-Control-Allow-Headers":
              "Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type",
            "Content-Type": "application/json",
            Accept: "application/json"
          }
        }
      )
      .then(response => {
        this.timer = response.data.timeLeft;
      });
  }
};
</script>

<style>
</style>