<template>
    <aside class="  sticky-top sizeScreen navside">
          <div class="">
            <nav class="navbar sidebar  align-items-stretch flex-md-nowrap p-0 ">
              <a class="navbar-brand w-100 mr-0 navside" style="line-height: 25px;">
                <div class="d-table m-auto text-center">
                  <img class="imgSidebar" src="./../../../../public/img/logo.png">
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-item text-center police borderSpe" v-for="(nav, key) in navs" :key="key">
                    <router-link :to="{name: nav.name}" class="nav-link police">
                        <b class="">{{ nav.title }}</b>
                    </router-link>
                </li>
            </ul>
          </div>
        </aside>
</template>

<script>
export default {
    name: 'sidebar',
    data() {
        return {
            navs: [
                {name: 'home', title: 'Accueil'},
                {name: 'forum', title: 'Forum'},
                {name: 'outils', title: 'Outils'},
            ]
        }
    },
}
</script>

<style>

</style>