<template>
  <div
    class="modal fade text-dark"
    id="createCategorie"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title text-white">Ajouter une categorie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form @submit.prevent="createCategorie()">
          <div class="modal-body">
            <input
              type="text"
              class="form-control mb-2"
              v-model="category.title"
              placeholder="Titre"
              required
            />
            <input
              type="text"
              class="form-control mb-2"
              v-model="category.description"
              placeholder="Description"
              required
            />
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success" :disabled="loading">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { log } from "util";
export default {
    data() {
        return {
            loading: false,
            user: {},
            category: {
                user_id: '',
                title: "",
                description: "",
                is_deleted: 0
            }
        };
    },

  methods: {
    /**Create a category in the API */
    createCategorie() {
      this.loading = true;
      this.category.user_id = this.user.id

      axios
        .post("/api/category", this.category) // Ask for category creation to the API
        .then(response => {
          this.loading = false;
          this.$router.go();
        })
        .catch(e => {
          this.loading = false;
        });
    },
    getUser() {
      this.user = JSON.parse(window.localStorage.user)
    }
  },

  mounted() {
    this.getUser()
  }
};
</script>

<style>
</style>