<template>
  <div>
    <loader :loading="loading" color="#d3a350" class="text-center"></loader>

    <div class="card navside mt-4 ml-3 mr-3" v-show="!loading">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10">
            <h2 class="categ-header navside">{{ category.title }}</h2>
          </div>
          <div class="col-lg-2">
            <button
              class="btn btn-success"
              data-toggle="modal"
              data-target="#createThread"
              @click="categorySelectedCreate = category"
            >
              <i class="fas fa-plus"></i> Créer un sujet
            </button>
          </div>
        </div>
      </div>
      <div
        class="thread-background rounded thread-border m-2"
        v-for="(thread, key) in threads"
        :key="key"
        v-show="!loading"
      >
        <div class="card thread-background">
          <div class="card-header p-0 thread-background">
            <router-link :to="{name: 'thread.show', params: {id: thread.id}}" class="thread-header">
              <div class>
                <h3 class="ml-2">{{ thread.title }}</h3>
              </div>
            </router-link>
          </div>
          <div class="row m-2 mt-3">
            <div class="col-lg-7">
              <p class>{{ thread.description }}</p>
            </div>
            <div class="col-lg-1">
              <p class>{{ thread.created_at|formatDate }}</p>
            </div>
            <div class="col-lg-2">
              <p class>{{ thread.user.nickname }}</p>
            </div>
            <div class="col-lg-2">
              <p class>
                <span class="badge badge-success" v-if="!thread.is_deleted">
                  <h5>Ouvert</h5>
                </span>
                <span class="badge badge-danger" v-else>
                  <h5>Fermé</h5>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ThreadCreate :category="categorySelectedCreate"></ThreadCreate>
  </div>
</template>

<script>
import moment from "moment";
import ThreadCreate from "./ThreadCreate";

export default {
  components: {
    ThreadCreate
  },
  data() {
    return {
      loading: false,
      category: {},
      threads: [],
      categorySelectedCreate: null
    };
  },

  methods: {
    /**Get the informations about a category using the id */
    getCategory() {
      this.loading = true;

      axios
        // Ask for category informations to the API
        .get("/api/category/" + this.$route.params.id)
        .then(response => {
          this.category = response.data;
          this.loading = false;
        })
        .catch(e => {
          alert(e);

          this.loading = false;
        });
    },

    /**Get the threads for this category */
    getThreads() {
      this.loading = true;

      axios
        // Ask for the threads informations for this category to the API
        .get("/api/category/" + this.$route.params.id + "/threads")
        .then(response => {
          this.threads = response.data;

          this.loading = false;
        })
        .catch(e => {
          alert(e);

          this.loading = false;
        });
    }
  },

  filters: {
    /**Format a date in a string */
    formatDate(date) {
      return moment(date).format("DD/MM/Y");
    }
  },

  mounted() {
    this.getThreads();
    this.getCategory();
  }
};
</script>

<style>
</style>