<template>
  <div>
    <div class="card navside text-center mt-3 mb-3 ml-3 mr-3">
        <div class="row m-2">
          <div class="col-lg-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#createCategorie"><i class="fas fa-plus"></i> Ajouter une categorie</button>
            </div>
            <div class="col-lg-8">
                <h2 class="categ-header navside">Liste des catégorie</h2>
            </div>
        </div>
    </div>
    <loader :loading="loading" color="#d3a350" size="30px" class="text-center"></loader>
    <div
      class="card navside mb-4 ml-3 mr-3"
      v-for="(category, key) in categories"
      :key="key"
      v-show="!loading"
    >
      <div class="card-header navside">
        <div class="row">
          <div class="col-lg-10">
            <h2 class="categ-header navside">{{ category.title }}</h2>
          </div>
          <div class="col-lg-2">
            <button
              class="btn btn-success"
              data-toggle="modal"
              data-target="#createThread"
              @click="categorySelectedCreate = category"
            ><i class="fas fa-plus"></i> Créer un sujet</button>
          </div>
        </div>
        <Threads :category="category"></Threads>
      </div>
    </div>
    <ThreadCreate :category="categorySelectedCreate"></ThreadCreate>
    <CategoryCreate ></CategoryCreate>
  </div>
</template>

<script>
import Threads from "./Threads";
import Loader from "vue-spinner/src/PulseLoader.vue";
import ThreadCreate from "./ThreadCreate";
import CategoryCreate from "./CategoryCreate"

export default {
  components: {
    Loader,
    Threads,
    ThreadCreate,
    CategoryCreate
  },

  data() {
    return {
      loading: false,
      categories: [],
      categorySelectedCreate: null
    };
  },

  methods: {
    getCategories() {
      this.loading = true;

      axios
        .get("/api/categories")
        .then(response => {
          this.categories = response.data;

          this.loading = false;
        })
        .catch(e => {
          alert(e);

          this.loading = false;
        });
    }
  },

  mounted() {
    this.getCategories();
  }
};
</script>

<style>
</style>