<template>
  <div class="modal fade text-dark" :id="'updateMessage' + message.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title text-white">Modifier un message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form @submit.prevent="updateMessage()">
          <div class="modal-body">
            <label class="text-white" for="message">Message:</label>
            <textarea name="message" id="message" class="form-control" cols="30" rows="10" required v-model="message.body"></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success" :disabled="loading">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { log } from "util";
export default {
  props: ['message'],

    data() {
        return {
            loading: false,
            user: {},
        };
    },

  methods: {
    updateMessage() {
      this.loading = true;

        axios.put("/api/message/" + this.message.id, this.message)
        .then(response => {
          this.loading = false;
          this.$router.go()
        })
        .catch(e => {
          this.loading = false;
        });
    },

    getUser() {
      this.user = JSON.parse(window.localStorage.user)
    }
  },
  
  mounted() {
    this.getUser()
  }
};
</script>

<style>
</style>