<template>
  <div class="modal fade text-dark" id="createMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title text-white">Ecrire un message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form @submit.prevent="createMessage()">
          <div class="modal-body">
            <label class="text-white" for="message">Message:</label>
            <textarea name="message" id="message" class="form-control" cols="30" rows="10" required v-model="message.body"></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success" :disabled="loading">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { log } from "util";
export default {
  props: ["thread"],

    data() {
        return {
            loading: false,
            user: {},
            message: {
                user_id: '',
                thread_id: "",
                body: "",
                is_deleted: 0
            }
        };
    },

  methods: {
    createMessage() {
      this.loading = true;
      this.message.thread_id = this.thread.id;
      this.message.user_id = this.user.id

        axios.post("/api/message", this.message)
        .then(response => {
          this.loading = false;
          this.$router.go()
        })
        .catch(e => {
          this.loading = false;
        });
    },

    getUser() {
      this.user = JSON.parse(window.localStorage.user)
    }
  },
  
  mounted() {
    this.getUser()
  }
};
</script>

<style>
</style>