<template>
  <div
    class="modal fade text-dark"
    id="createThread"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content navside">
        <div class="modal-header">
          <h5 class="modal-title text-white">Créer un sujet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form @submit.prevent="createThread()">
          <div class="modal-body">
            <input
              type="text"
              name="titre"
              class="form-control mb-2"
              placeholder="Titre"
              required
              v-model="thread.title"
            />
            <input
              type="text"
              name="description"
              class="form-control mb-2"
              placeholder="Description"
              required
              v-model="thread.description"
            />

            <label class="text-white" for="message">Message:</label>
            <textarea
              name="message"
              id="message"
              class="form-control"
              cols="30"
              rows="10"
              required
              v-model="message.body"
            ></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success" :disabled="loading">Create</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { log } from "util";
export default {
  props: ["category"],

  data() {
    return {
      loading: false,
      user: {},
      thread: {
        thread_type_id: 1,
        category_id: "",
        role_id: 1,
        user_id: '',
        title: "",
        description: "",
        is_opened: 1,
        is_deleted: 0
      },
      message: {
        user_id: '',
        thread_id: "",
        body: "",
        is_deleted: 0
      }
    };
  },

  methods: {
    createThread() {
      this.loading = true;
      this.thread.category_id = this.category.id;
      this.thread.user_id = this.user.id;

      axios
        .post("/api/thread", this.thread)
        .then(response => {
          this.loading = false;

          this.createMessage(response.data);
        })
        .catch(e => {
          this.loading = false;
          alert(e);
        });
    },

    createMessage(thread) {
      this.loading = true;
      this.message.thread_id = thread.id;
      this.message.user_id = this.user.id;

      axios
        .post("/api/message", this.message)
        .then(response => {
          this.loading = false;

          this.$router.go()
        })
        .catch(e => {
          this.loading = false;
        });
    },
    
    getUser() {
      this.user = JSON.parse(window.localStorage.user)
    }
  },

  mounted() {
    this.getUser()
  }
};
</script>

<style>
</style>