<template>
    <div>
        <loader :loading="loading" color="#d3a350" class="text-center"></loader>

        <div class="thread-background rounded thread-border mt-2" v-for="(thread, key) in threads" :key="key" v-show="!loading">
            <div class="card thread-background">
                <div class="card-header p-0 thread-background">
                    <router-link :to="{name: 'thread.show', params: {id: thread.id}}" class="thread-header"> 
                        <div class="">
                            <h3 class="ml-2">
                                {{ thread.title }}
                            </h3>
                        </div>
                    </router-link>
                </div>
                <div class="row m-2 mt-3">
                    <div class="col-lg-7">
                        <p class=""> {{ thread.description }} </p>
                    </div>
                    <div class="col-lg-1 text-center">
                        <p class=""> {{ thread.created_at|formatDate }} </p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <p class=""> {{ thread.user.nickname }} </p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <p class="">
                            <span class="badge badge-success" v-if="!thread.is_deleted">Ouvert</span>
                            <span class="badge badge-danger" v-else>Fermé</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='text-center' >
            <router-link class="police" :to="{name: 'category.show', params: {id: category.id}}" v-if="countThreads >= 3">
                <div>
                    Show more ...
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import Loader from 'vue-spinner/src/PulseLoader.vue'

export default {
    props: ['category'],

    components: {
        Loader
    },

    data() {
        return {
            loading: false,
            threads: [],
            countThreads: 0,
        }
    },

    methods: {
        getThreads(category) {
            this.loading = true
            axios.get('/api/category/' + this.category.id + '/threads')
            .then(response => {
                this.countThreads = response.data.length
                this.threads = response.data.splice(0, 3)

                this.loading = false
            })
            .catch(e => {
                alert(e)

                this.loading = false
            })
        },
    },

    filters: {
        formatDate(date) {
            return moment(date).format('DD/MM/Y')
        }
    },

    mounted() {
        this.getThreads()
    }
}
</script>

<style>

</style>