<template>
    <div>
        <loader :loading="loading" color="#d3a350" class="text-center"></loader>
        <div class="card navside text-center mt-3 mb-3 ml-3 mr-3">
            <div class="m-2">
                <div class="row">
                    <div class="col-lg-10">
                        <h2 class="categ-header navside">{{ thread.title }}</h2>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-success"
                        data-toggle="modal"
                        data-target="#createMessage" 
                        @click="threadSelected = thread"><i class="fas fa-plus"></i> Créer un message</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card navside mb-3 ml-3 mr-3" v-for="(message, key) in messages" :key="key" v-show="!loading">
            <div class="card-header row">
                <div class="col-lg-3 categ-header">
                    <h5 class="">Date : {{ message.updated_at|formatDate }} </h5>
                </div>
                <div class="col-lg-3 categ-header">
                    <h5 class="">Contributeur :  {{ message.user.nickname }} </h5>
                </div>
                <div class="col-lg-4"></div>
                <div class="col">
                    <button class="fas fa-edit btn btn-success" data-toggle="modal" :data-target="'#updateMessage' + message.id" ></button>
                </div>
                <div class="col">
                    <button class="fas fa-trash-alt btn btn-danger" @click="deleteMessage(key)"></button>
                </div>
            </div>
            <div class="card-body row">
                <div class="col">
                    <p class=""> {{ message.body }} </p>
                </div>
            </div>

            <EditMessage :message="message"></EditMessage>
        </div>
        <CreateMessage :thread="threadSelected"></CreateMessage>
    </div>
</template>

<script>
import moment from 'moment'
import Loader from 'vue-spinner/src/PulseLoader.vue'
import CreateMessage from './MessageCreate'
import EditMessage from './MessageEdit'

export default {
    components: {
        Loader,
        CreateMessage,
        EditMessage
    },

    data() {
        return {
            loading: false,
            user: {},
            messages: [],
            thread: {},
            threadSelected: null
        }
    },

    methods: {
        getMessages() {
            this.loading = true

            axios.get('/api/thread/' + this.$route.params.id + '/messages')
            .then(response => {
                this.messages = response.data

                this.loading = false
            })
            .catch(e => {
                alert(e)

                this.loading = false
            })
        },

        getThread() {
            this.loading = true

            axios.get('/api/thread/' + this.$route.params.id)
            .then(response => {
                this.thread = response.data

                this.loading = false
            })
            .catch(e => {
                alert(e)

                this.loading = false
            })
        },

        deleteMessage(key) {
            if (confirm('Vous êtes sûr de vouloir supprimer ce message ?')) {
                this.loading = true 
    
                let message = this.messages[key]
                axios.delete('/api/message/' + message.id)
                .then(response => {
                    this.messages.splice(key, 1)
                    
                    this.loading = false
                })
                .catch(e => {
                    alert(e)
    
                    this.loading = false
                })
            }
        },

        getUser() {
            this.user = JSON.parse(window.localStorage.user)
        }
    },

    filters: {
        formatDate(date) {
            return moment(date).format('DD/MM/Y à HH:mm')
        }
    },

    mounted() {
        this.getMessages()
        this.getThread()
        this.getUser()
    }
}
</script>

<style>

</style>